table.striped tbody tr.odd td {
	background:#EFEFEF;
}

table.striped {
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    color: #fff;
    width: 605px;
    background-color: #666;
    border-collapse: collapse;
    border-spacing: 0px;
    border: 1px #6B8E23 solid;
}

table.striped td {
    background-color: #fff;
    color: #000;
    padding: 4px;
    text-align: left;
    overflow:hidden;
    white-space:nowrap;
}

table.striped th {
    background-color: #ABD447;
    color: #fff;
    padding: 4px;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
}

.left {
    float: left;
}

.right {
    float: right;
    line-height: 1.9em;
}

.hint {
    font-size: 11px;
    color: #A9A9A9;
    padding-left: 10px;
}